<table class="table table-striped">
	<thead>

		<tr>
			<th>Date</th>
			<th>Meal</th>
			<th>Macros</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>3/10/2016</td>
			<td>Strawberry smoothie</td>
			<td>
				<ul>
					<li>Carbs: 21 grams</li>
					<li>Protein: 32 grams</li>
					<li>Fat: 8 grams</li>
				</ul>
			</td>
			<td>
				<a href="#" class="btn btn-default">Edit</a>
				<a href="#" class="btn btn-danger">Delete</a>
			</td>
		</tr>
		<tr>
			<td>3/10/2016</td>
			<td>Beet Salad</td>
			<td>
				<ul>
					<li>Carbs: 30 grams</li>
					<li>Protein: 10 grams</li>
					<li>Fat: 0 grams</li>
				</ul>
			</td>
			<td>
				<a href="#" class="btn btn-default">Edit</a>
				<a href="#" class="btn btn-danger">Delete</a>
			</td>
		</tr>
	</tbody>
</table>